# Strings in Python

In [1]:
# Created using sinle or double quotes

In [2]:
"This is an example of a string"

'This is an example of a string'

In [3]:
"This is also an example of a string"

'This is also an example of a string'

In [4]:
# 'I'll give error'
"I'm in double quotes"

"I'm in double quotes"

In [5]:
'He said,"where is he?"'

'He said,"where is he?"'

In [6]:
'I\'m okay with the escape character'

"I'm okay with the escape character"

In [7]:
"He said,\"where is he?\""

'He said,"where is he?"'

In [8]:
""" This is an example of a string
which is written on multiple lines 
and so on """

' This is an example of a string\nwhich is written on multiple lines \nand so on '

In [9]:
# \n for new line \t for tab

In [10]:
'''This is an example of a string
which is written on multiple lines 
and is also fine'''

'This is an example of a string\nwhich is written on multiple lines \nand is also fine'

In [11]:
"this""is""an""adjacent string"

'thisisanadjacent string'

In [12]:
# Use \ for continuation or else only last statement will be printed
"this is a string"\
"and it is a very long string"\
"and continues on a new lines"

'this is a stringand it is a very long stringand continues on a new lines'

In [13]:
print('this is a string')
print('this is another string on a new line')

this is a string
this is another string on a new line

In [14]:
print('This is a statement \t and this is another statement')

This is a statement 	 and this is another statement

In [15]:
print("Let's use a tab \t and a new line \n and anything after will \n be on a new line")

Let's use a tab 	 and a new line
 and anything after will
 be on a new line

# Print in python 2 is keyword and print in python 3 is a function

In [16]:
string_name = "I am here"

In [17]:
ss = "string variable"

In [18]:
string_name

'I am here'

In [19]:
ss

'string variable'

In [20]:
ss[2]

'r'

In [21]:
ss[6]

' '

In [22]:
ss[7:10] # elements [a:b] includes a and excludes b

'var'

# Strings Operations

In [23]:
# + *

In [24]:
'hello' + 'there'

'hellothere'

In [25]:
"We're learning " + ss

"We're learning string variable"

In [26]:
ss + ss

'string variablestring variable'

In [27]:
xx = 'python'

In [28]:
xx + ss

'pythonstring variable'

In [29]:
'String ' * 5

'String String String String String '

In [30]:
"hi there \n " * 5

'hi there \n hi there \n hi there \n hi there \n hi there \n '

In [31]:
ss = "we're here and it is overwritten"

In [32]:
ss

"we're here and it is overwritten"

In [33]:
ss[8]

'r'

In [34]:
# ss[34]  # out of range error

In [35]:
ss[-1] # negative indexing starts backwards from -1

'n'

In [36]:
ss[3:8]

're he'

In [37]:
'o' in ss

True

In [38]:
'x' in ss

False

# Strings Proprty - immutability

In [39]:
ss = 'python'

In [40]:
ss

'python'

In [41]:
ss[-2]

'o'

In [42]:
ss[-1]

'n'

In [43]:
ss[5]

'n'

In [44]:
# ss[7] will give error

In [45]:
ss[:4] #0,1,2,3

'pyth'

In [46]:
ss[2:]

'thon'

In [47]:
# ss[2] = 'r'  ERROR - STRINGS ARE IMMUTABLE

In [48]:
ss

'python'

In [49]:
string2 = 'Hello!!'

In [50]:
string2

'Hello!!'

In [51]:
# string2[3] = 'i' # ERROR - can't replace

# Built-in string Methods

In [52]:
ss = 'Python'

In [53]:
# Capitalize
ss = 'hi there'
ss.capitalize()

'Hi there'

In [54]:
# lower and upper
print(ss.lower())
print(ss.upper())

hi there
HI THERE

In [55]:
ss = "hi there what's up"
ss.upper()

"HI THERE WHAT'S UP"

In [56]:
# isupper and islower
print(ss.isupper())
print(ss.islower())

False
True

In [57]:
upper = 'ALL UPPPER CASE'
upper.isupper()

True

In [58]:
# isalmnum
upper.isalnum() # false bcoz of space

False

In [59]:
string1 = 'uppercase'
string1.isalnum()

True

In [60]:
# isalpha
string1.isalpha()

True

In [61]:
empty = ''
empty.isalpha()

False

In [62]:
# startswith,endswith,find,index,isspace,istitle
ss = "This is Title cased"
ss.istitle()

False

In [63]:
ss = "This Is Title Cased"
ss.istitle()

True

In [64]:
# isspaced
ss.isspace()

False

In [65]:
ss = "      "
ss.isspace()

True

In [66]:
ss = 'this string starts with t'
ss.startswith('h')

False

In [67]:
ss.startswith('s',5)

True

In [68]:
# ends with
ss.endswith('t')

True

In [69]:
ss

'this string starts with t'

In [70]:
ss.endswith('str')

False

In [71]:
ss.endswith('str',5,8)

True

In [72]:
# find method
ss.find('r')

7

In [73]:
ss.find('x') #doesn't exist

-1

In [74]:
ss.find('r',10) # starts findind from the argument 10

15

In [75]:
ss.index('t')

0

In [76]:
ss.index('ring')

7

In [77]:
# ss.index('x') # ERROR - absent

In [78]:
ss.index('t',14)

16

In [79]:
# ljust,rjust,lstrip,rstrip,len

In [80]:
ss = "Today is a great day!"

In [81]:
#ljust
ss.ljust(40)

'Today is a great day!                   '

In [82]:
ss.ljust(40,'u')

'Today is a great day!uuuuuuuuuuuuuuuuuuu'

In [83]:
ss.ljust(40,'!')

'Today is a great day!!!!!!!!!!!!!!!!!!!!'

In [84]:
# ss.ljust(40,'u!') # ERROR

In [85]:
ss.ljust(7,'!')  # no probs

'Today is a great day!'

In [86]:
ss.ljust(8)

'Today is a great day!'

In [87]:
#rjust
ss.rjust(50)

'                             Today is a great day!'

In [88]:
ss.rjust(50,'v')

'vvvvvvvvvvvvvvvvvvvvvvvvvvvvvToday is a great day!'

In [89]:
len(ss)

21

In [90]:
len('how long is this string')

23

In [91]:
len('')

0

In [92]:
# lstrip
ss = '   This is a string'
ss

'   This is a string'

In [93]:
ss.lstrip()

'This is a string'

In [94]:
ss = "This is a nice day"
left = ss.rjust(40,'V')
left

'VVVVVVVVVVVVVVVVVVVVVVThis is a nice day'

In [95]:
left.lstrip('V')

'This is a nice day'

In [96]:
# rstrip
ss = "This is another string            "

In [97]:
ss

'This is another string            '

In [98]:
ss.rstrip()

'This is another string'

In [99]:
right = ss.ljust(39,'5')

In [100]:
right

'This is another string            55555'

In [101]:
right2 = right.rstrip('5')
right2

'This is another string            '

In [102]:
right2.rstrip()

'This is another string'

In [103]:
right2

'This is another string            '

In [104]:
ss = "this is a string"

In [105]:
ss

'this is a string'

In [106]:
ss.count('s')

3

In [107]:
ss.count(' ')

3

In [108]:
ss.count('w')

0

In [109]:
# strip, center, split, join, swapcase, .format

In [110]:
ss = "This is a string"
ss.center(40)

'            This is a string            '

In [111]:
center = ss.center(40,"*")

In [112]:
center

'************This is a string************'

In [113]:
# strip

In [114]:
center.strip("*")

'This is a string'

In [115]:
ss = "  This is another st  "

In [116]:
ss.strip()

'This is another st'

In [117]:
# swapcase()
ss

'  This is another st  '

In [118]:
ss.swapcase()

'  tHIS IS ANOTHER ST  '

In [119]:
upper = 'ALL UPPER CASE CXS INCLUDED!'
upper.swapcase()

'all upper case cxs included!'

In [120]:
# split
print(upper)
upper.split()

ALL UPPER CASE CXS INCLUDED!

['ALL', 'UPPER', 'CASE', 'CXS', 'INCLUDED!']

In [121]:
ss = 'thisisastringwithoutanyspace'
ss.split()

['thisisastringwithoutanyspace']

In [122]:
ss = "This is a string with a bunch of spaces"
ss.split('i')

['Th', 's ', 's a str', 'ng w', 'th a bunch of spaces']

In [123]:
ss.split('is')

['Th', ' ', ' a string with a bunch of spaces']

In [124]:
# join
x = '*'
print(x)

*

In [125]:
ss=('one','two','three')

In [126]:
x.join(ss)

'one*two*three'

In [127]:
'+'.join(ss)

'one+two+three'

In [128]:
# ss.join('+') # doesn't work

In [129]:
'-'.join(ss)

'one-two-three'

In [130]:
# .format
"This is Python and {}".format('it is a great language')

'This is Python and it is a great language'

In [131]:
"Today is a great day {},don't you think so {}?".format('John','JOHN')

"Today is a great day John,don't you think so JOHN?"

In [132]:
"Hi there {}, how is you day going?{} I am doing well thanks{}".format('John','Tim','John and Tim')

'Hi there John, how is you day going?Tim I am doing well thanksJohn and Tim'