In [1]:
listss = [1,2,3]
tuple_xx  = (1,2,3,4,5)
print(tuple_xx)

(1, 2, 3, 4, 5)

In [2]:
xx = ('a','b','c')
yy = (1,2,3,'a','b','c')
zz = (1.2,3.4,5.08,'time','item',[2,3,4],(1,2,3),'a','b')
print(xx)
print(yy)
print(zz)

('a', 'b', 'c')
(1, 2, 3, 'a', 'b', 'c')
(1.2, 3.4, 5.08, 'time', 'item', [2, 3, 4], (1, 2, 3), 'a', 'b')

In [3]:
print(len(xx))
print(len(yy))
print(len(zz))

3
6
9

In [4]:
print(yy[5])
print(yy[-1])
# print(yy[9]) # ERROR - Tuple index out of Bounds

c
c

In [5]:
# Immutability of tupels
list2 = [2,3,4,5]
list2[3] = 'some other ele'
list2

[2, 3, 4, 'some other ele']

In [6]:
tupl = (2,3,4,5)
# tupl[2] = 22  # ERROR - Tuples are immutable

# Tuple Operations

In [8]:
# Tuple Concatenation
(1,4,7) + (4,9,8)

(1, 4, 7, 4, 9, 8)

In [10]:
x = (3,4,5 , 'test','item')

In [11]:
x + (4,'item4',[3,4,5])

(3, 4, 5, 'test', 'item', 4, 'item4', [3, 4, 5])

In [12]:
x + x

(3, 4, 5, 'test', 'item', 3, 4, 5, 'test', 'item')

In [13]:
(1,2,3) * 2

(1, 2, 3, 1, 2, 3)

In [14]:
(1,2,3,4) * 4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [15]:
x * 5

(3,
 4,
 5,
 'test',
 'item',
 3,
 4,
 5,
 'test',
 'item',
 3,
 4,
 5,
 'test',
 'item',
 3,
 4,
 5,
 'test',
 'item',
 3,
 4,
 5,
 'test',
 'item')

In [16]:
2 in (2,3,4,5)

True

In [17]:
9 in (5,6,7)

False

In [19]:
print(x)
2 in x

(3, 4, 5, 'test', 'item')

False

In [20]:
x[-2]

'test'

In [21]:
x[::]

(3, 4, 5, 'test', 'item')

In [22]:
x[::2]

(3, 5, 'item')

In [23]:
x[:3]

(3, 4, 5)

In [24]:
x[1:4] # 1,2,3

(4, 5, 'test')

In [25]:
# Deleting in Tuples
x = (3,4,5,6)
# del x[1] # item deletion in tuple is NOT ALLOWED
del x

# Built-in Tuple Methods

In [26]:
x = (1,2,3,4)

In [27]:
# count,index,len,min,max,cmp

In [28]:
len(x)

4

In [30]:
x = (1,2,3,'item','item1',[2,3,4],(2,5,6))
print(x)
len(x)

(1, 2, 3, 'item', 'item1', [2, 3, 4], (2, 5, 6))

7

In [32]:
t = ('a','c','v',9)
# PYTHON 3 Errors
# print(min(t))  #ERROR '<' not supported between instances of 'int' and 'str'
# print(max(t))  #ERROR '>' not supported between instances of 'int' and 'str'

In [35]:
# cmp(tuple1,tuple2)
x = (3,4,5)
xx = (4,5,6)
# Python 3 not supported
# import operator  
# cmp(x,xx)

In [36]:
# count
t1 = (2,3,4,5,6,0,4,4,5,3,'a','c','item',1)
print(t1)

(2, 3, 4, 5, 6, 0, 4, 4, 5, 3, 'a', 'c', 'item', 1)

In [37]:
print(t1.count(4))
print(t1.count(5))
print(t1.count(6))
print(t1.count('a'))
print(t1.count('b'))

3
2
1
1
0

In [38]:
'b' in t1

False

In [40]:
# index
t1.index('item')

12

In [41]:
t1.index('c')

11