# Dictionaries

In [1]:
# Unordered set of key and value pairs
dict_new ={'key1':'value1','key2':'value2','key3':'value3'}
print(dict_new)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [2]:
dict_new['key1']

'value1'

In [3]:
dict_new['key3']

'value3'

In [4]:
mix_dict = {1:23,2:'stringvalue','name':['Joe','Jane','Smith'],'key4':['Person',5,8,13]}
print(len(mix_dict))
print(mix_dict)

4
{1: 23, 2: 'stringvalue', 'name': ['Joe', 'Jane', 'Smith'], 'key4': ['Person', 5, 8, 13]}

In [5]:
mix_dict['name']

['Joe', 'Jane', 'Smith']

In [6]:
mix_dict['name'][2]

'Smith'

In [7]:
type(mix_dict['name'][2])

str

In [8]:
print(mix_dict['key4'])
print(mix_dict['key4'][2])

['Person', 5, 8, 13]
8

In [9]:
mix_dict['key4'][2] + 12

20

In [10]:
dict_new ={'key1':'value1','key2':'value2','key3':'value3','key1':'value4'}
print(dict_new)

{'key1': 'value4', 'key2': 'value2', 'key3': 'value3'}

In [11]:
person = {'name' : 'Jane' , 'age' : 43 , 'state' : 'NY'}
print(person)

{'name': 'Jane', 'age': 43, 'state': 'NY'}

In [12]:
len(person)

3

In [13]:
person.update({'department' : 'IT'})

In [14]:
person

{'name': 'Jane', 'age': 43, 'state': 'NY', 'department': 'IT'}

In [15]:
person.update({6:[3,4,5]})
print(person)

{'name': 'Jane', 'age': 43, 'state': 'NY', 'department': 'IT', 6: [3, 4, 5]}

In [16]:
person['key6'] = 'value6'
person

{'name': 'Jane',
 'age': 43,
 'state': 'NY',
 'department': 'IT',
 6: [3, 4, 5],
 'key6': 'value6'}

In [17]:
person[7] = 7
person

{'name': 'Jane',
 'age': 43,
 'state': 'NY',
 'department': 'IT',
 6: [3, 4, 5],
 'key6': 'value6',
 7: 7}

In [18]:
person['age'] = 44
person

{'name': 'Jane',
 'age': 44,
 'state': 'NY',
 'department': 'IT',
 6: [3, 4, 5],
 'key6': 'value6',
 7: 7}

In [19]:
person['state'] = 'New Jersey'
person

{'name': 'Jane',
 'age': 44,
 'state': 'New Jersey',
 'department': 'IT',
 6: [3, 4, 5],
 'key6': 'value6',
 7: 7}

In [20]:
print(person.keys())
print(person.values())

dict_keys(['name', 'age', 'state', 'department', 6, 'key6', 7])
dict_values(['Jane', 44, 'New Jersey', 'IT', [3, 4, 5], 'value6', 7])

In [21]:
person.items()

dict_items([('name', 'Jane'), ('age', 44), ('state', 'New Jersey'), ('department', 'IT'), (6, [3, 4, 5]), ('key6', 'value6'), (7, 7)])

In [22]:
dict1 = {} # empty dictionary
type(dict1)

dict

In [23]:
dict1['key1'] = 'value1'
dict1['key2'] = 'value2'
dict1['key3'] = 'value3'
dict1['key4'] = 'value4'
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [24]:
dict1.pop('key2')

'value2'

In [25]:
print(dict1)

{'key1': 'value1', 'key3': 'value3', 'key4': 'value4'}

In [26]:
del dict1['key4']

In [27]:
dict1

{'key1': 'value1', 'key3': 'value3'}

# Dictionaries Built-in Operations

In [28]:
dict1 = {'key1' : 456 , 'key2' : [3,9,15] , 'key3': (94,8,23) , 'key4' : ['item1','item2','item3']}
print(dict1)

{'key1': 456, 'key2': [3, 9, 15], 'key3': (94, 8, 23), 'key4': ['item1', 'item2', 'item3']}

In [29]:
dict1['key2']

[3, 9, 15]

In [30]:
x = dict1['key2']

In [31]:
type(x[2])

int

In [32]:
(x[2]) + 35

50

In [33]:
x = dict1['key4']
x[1]

'item2'

In [34]:
type(x[1])

str

In [35]:
x[1].isupper()

False

In [36]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [37]:
# dict1.viewkeys()
# You can use viewkeys(), viewitems() and viewvalues() in py2x. only

In [38]:
x = dict1.keys()
print(type(x))
print(x)

<class 'dict_keys'>
dict_keys(['key1', 'key2', 'key3', 'key4'])

In [39]:
dict1.values()

dict_values([456, [3, 9, 15], (94, 8, 23), ['item1', 'item2', 'item3']])

In [40]:
dict1.items()

dict_items([('key1', 456), ('key2', [3, 9, 15]), ('key3', (94, 8, 23)), ('key4', ['item1', 'item2', 'item3'])])

In [43]:
# Removed dict.iteritems(), dict.iterkeys(), and dict.itervalues().
# Instead: use dict.items(), dict.keys(), and dict.values() respectively.
for key in dict1.keys():
    print(key)

key1
key2
key3
key4

In [44]:
for value in dict1.values():
    print(value)

456
[3, 9, 15]
(94, 8, 23)
['item1', 'item2', 'item3']

In [45]:
for abcde in dict1.values():
    print(abcde)

456
[3, 9, 15]
(94, 8, 23)
['item1', 'item2', 'item3']

In [46]:
for items in dict1.items():
    print(items)

('key1', 456)
('key2', [3, 9, 15])
('key3', (94, 8, 23))
('key4', ['item1', 'item2', 'item3'])

In [47]:
for key,value in dict1.items():
    print(key,value)

key1 456
key2 [3, 9, 15]
key3 (94, 8, 23)
key4 ['item1', 'item2', 'item3']