In [1]:
# Python GENERATE FAKE DATA

# from faker import Factory
# fake_data = Faker()

# OR

In [2]:
from faker import Faker
fake_data = Faker()

In [3]:
# create fake name
name = fake_data.name()
print(name + '\n')

Anthony Hicks

In [5]:
# create fake address
address = fake_data.address()
print(address + '\n')

43460 Branch Grove
North Eric, ND 29877

In [4]:
# create fake email
email = fake_data.email()
print(email)

hollowayangela@fisher-davis.org

In [6]:
# create fake profile
profile = fake_data.simple_profile()
for k, v in profile.items():
    print('{}: {}'.format(k, v))
print()

username: ashleybaker
name: Megan Powell
sex: F
address: USCGC Williams
FPO AA 95448
mail: olsonmichelle@yahoo.com
birthdate: 1936-07-22

In [7]:
# display name,address,email
print('Name: {},Address: {},Email: {}'.format(name, address, email))
print()

Name: Anthony Hicks,Address: 43460 Branch Grove
North Eric, ND 29877,Email: hollowayangela@fisher-davis.org

In [8]:
# generate a large set of fake data
for _ in range(0, 2):
    print(' NAME= ' + fake_data.name() + ' EMAIL= ' +
          fake_data.email() + ' ADDRESS= ' + fake_data.address()+' \n ')

NAME= Jesse Moore EMAIL= eric91@fowler.com ADDRESS= 0155 Hall Burg Apt. 126
Danielside, AK 75119

 NAME= Steven Sexton EMAIL= thompsonsusan@yahoo.com ADDRESS= 2959 Christine Mission Apt. 978
East Benjamin, AK 30032

In [9]:

# Function to fill a list with data
# change .name() to another data type for other data options
def create_names_list(how_many):
    names = []
    for _ in range(0, how_many):
        names.append(fake_data.name())
    return names

In [10]:
print(create_names_list(20))

['Michelle Walton', 'Kara Mitchell', 'Louis Reyes', 'Wendy Lawson', 'Cameron Hanson', 'Shannon Hamilton', 'Anthony Knapp', 'Dana Johnson', 'Cody Conway', 'Hannah Salas', 'Barbara Gould', 'Danielle Doyle', 'Gary Estrada', 'Joy Cox', 'Mr. Adam Parker DVM', 'Hannah Gardner', 'Kendra Cook', 'Cory Powell', 'William Oneal', 'Linda Smith']

In [11]:
# create person objects with name,address,etc.
class Customers:
    def __init__(self,name,address,email):
        self.name=name
        self.address=address
        self.email=email
    # special method __repr() to display data associated with the object
    def __str__(self):
    # def __repr__(self):
        return 'NAME: {},ADDRESS: {},EMAIL: {}'.format(self.name,self.address,self.email)

# Instance of customers class using fake data
customer1 = Customers(fake_data.name(),fake_data.address(),fake_data.email())
print(customer1)

NAME: Ronald Bowen,ADDRESS: 856 Chad Mall
Scottfurt, VT 59084,EMAIL: alexander11@patel.biz

In [12]:
#generate list of customers class objects with fake data
customer_list = []
for i in range (20):
    customer_list.append(Customers(fake_data.name(),fake_data.address(),fake_data.email()))

In [13]:
for i in customer_list:
    print(i,'\n')

NAME: Cory Turner,ADDRESS: 45582 Johnson Port Suite 429
North Walterhaven, MN 20266,EMAIL: tristan51@hotmail.com

NAME: Lauren Cruz,ADDRESS: 4135 Stephen Square Apt. 617
Bennettmouth, NC 78733,EMAIL: banksjessica@gmail.com

NAME: Amanda King,ADDRESS: 11998 Martin Trace
Dianemouth, AL 48445,EMAIL: kathysantos@gmail.com

NAME: Jacqueline Moore,ADDRESS: USNS Lindsey
FPO AP 41864,EMAIL: kennethhawkins@mcdonald-barnes.com

NAME: Christopher Vazquez,ADDRESS: 4758 Jackson Junctions
East Brian, CA 73540,EMAIL: pittmanjeffery@hotmail.com

NAME: Zachary Kennedy,ADDRESS: 79330 Wood Viaduct Suite 625
East Aprilshire, WA 87810,EMAIL: phillipharris@hotmail.com

NAME: Richard Leon,ADDRESS: 97712 Cox Inlet Apt. 141
Destinyville, WV 81862,EMAIL: youngwilliam@yahoo.com

NAME: Jennifer Ortiz,ADDRESS: 345 Sara Shoals Apt. 398
South Mary, CA 96938,EMAIL: montesmolly@guzman-alexander.com

NAME: Michelle Coleman,ADDRESS: 78645 Phillip Harbors
New Christinachester, ND 89209,EMAIL: randallreed@gmail.com

NAME: Julie Sharp,ADDRESS: 7124 Matthew Corner Apt. 585
Lewisland, ND 75304,EMAIL: tashley@hotmail.com

NAME: Jodi Castro,ADDRESS: 6482 Debbie Springs Suite 514
Jennifermouth, TN 25635,EMAIL: onealbreanna@yahoo.com

NAME: Mason Garcia,ADDRESS: 7778 Johnson Corner
Timothytown, NH 40664,EMAIL: kennethhill@cameron.com

NAME: Kristen Mendoza,ADDRESS: 5803 Sexton Freeway
Port Debra, IN 15988,EMAIL: lisa43@gmail.com

NAME: Gary Hanna,ADDRESS: Unit 4729 Box 5832
DPO AE 28796,EMAIL: dthomas@hotmail.com

NAME: Mark Salazar,ADDRESS: 7764 Flores Green Suite 983
Port Jessica, NC 54925,EMAIL: lopezdavid@garrett.com

NAME: Kyle Bennett,ADDRESS: PSC 4726, Box 3185
APO AE 07819,EMAIL: roweedwin@yahoo.com

NAME: Connie Tyler,ADDRESS: 9116 Michael Bridge Apt. 955
Adamsport, NY 44577,EMAIL: aaronschaefer@hotmail.com

NAME: Karen Clarke,ADDRESS: 836 Lisa Parkway
South Sandramouth, GA 49839,EMAIL: gonzalezdenise@gmail.com

NAME: Amy Owens,ADDRESS: 3279 Jasmine Rapid Suite 862
Rodriguezland, TX 66639,EMAIL: martineric@gmail.com

NAME: Katrina Smith,ADDRESS: 85906 Matthew Light
Lake Brucemouth, AL 15839,EMAIL: jonathan91@taylor.com