In [1]:
# 1) list = [[3,4,5,6], [4,2,3], [4,1,2],[2,1]]  write a function that will add all the elements
# in the list above = [sum1 + sum2 + sum3 + sum4] = sumtotal

In [2]:
def list_sum(x):
    sum_total = 0
    for elem in x:
        sum_total += sum(elem)
    return sum_total
list_sum([[1,2],[3,4]])

10

In [3]:
list2 = [[3,4,5,6], [4,2,3], [4,1,2],[2,1]]
list_sum(list2)

37

In [4]:
# 2) Write a function that will remove the first element from a given list and  returns the new
# list and prints out the length of the new list. Can you do the same with string objects?

In [5]:
def new_list(x):
    print("The length of the original list is ",len(x))
    del x[0]
    print("The length of the new list is ",len(x))
    return x

new_list([1,2,3,4,5])

The length of the original list is  5
The length of the new list is  4

[2, 3, 4, 5]

In [6]:
new_list(['b','a','c','d'])

The length of the original list is  4
The length of the new list is  3

['a', 'c', 'd']

### Can't do this with string objects since they are immutable
### new_list('string')

In [7]:
# 3) list1 = [1,2,'a','b','c','d',3,4,5,6] write a fn that will remove the first two elements
# and the last two elements from the list above. Also write a fn that will remove the first two
# elements and the last element.

In [8]:
def remove(x):
    return x[2:-2]

In [9]:
listx = [1,2,3,4,5,6]
listx[0:3]

[1, 2, 3]

In [10]:
listx[2::]

[3, 4, 5, 6]

In [11]:
remove([1,2,3,4,5,6])

[3, 4]

In [12]:
remove([1,2,'a','b','c','d',3,4,5,6])

['a', 'b', 'c', 'd', 3, 4]

In [13]:
# 4) list1 = [1,2,3,4,5,6] write a fn taht will return the sum by calculating the elements before
# it. Eg the sum element at index 2 will be the cumu sum of the first three elements and so on...
# [1,3,6,10,15,21..]

In [14]:
def summation(x):
    total = 0
    result = []

    for num in x:
        total += num 
        result.append(total)  #[1,3,6]

    return result

In [15]:
summation([1,2,3,4,5,6])

[1, 3, 6, 10, 15, 21]

In [16]:
summation([3,6,8,12])

[3, 9, 17, 29]

In [17]:
# 5) Write a function that checks if a given list has the same duplicate elements. If so, the 
# function should return true else return false.

In [22]:
def duplicate(list1):
    x = list(list1)
    x.sort()

    for elem in range(len(x) - 1):
        if x[elem] == x[elem + 1]:
            return True
    return False

In [23]:
duplicate([2,3,4,5])

False

In [24]:
duplicate([4,4,3])

True

In [25]:
duplicate(['a','a','c'])

True

In [26]:
duplicate(['apple','banana','apple'])

True