In [1]:
list1 = [1,2,3,4,5]
cubes = []

In [2]:
for numbers in list1:
    cubes.append(numbers ** 3)

In [4]:
cubes

[1, 8, 27, 64, 125]

In [5]:
[numbers ** 3 for numbers in list1]

[1, 8, 27, 64, 125]

In [6]:
sqrt = []

for number in list1:
    sqrt.append(number ** 0.5)

In [7]:
sqrt

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [8]:
[numbers ** 0.5 for numbers in list1]

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [9]:
list2 = [-2,-4,-5,-8,3,5]
absv = []

for x in list2:
    absv.append(abs(x))

In [10]:
absv

[2, 4, 5, 8, 3, 5]

In [11]:
absv = [abs(x) for x in list2]

In [12]:
absv

[2, 4, 5, 8, 3, 5]

In [13]:
list2

[-2, -4, -5, -8, 3, 5]

In [14]:
both = []

for x in list2:
    if x < 0:
        both.append(abs(x))
    else:
        both.append(x ** 3)
both

[2, 4, 5, 8, 27, 125]

In [18]:
[abs (x) if x < 0 else x ** 3 for x in list2 ]

[2, 4, 5, 8, 27, 125]

In [19]:
list3 = [-2,-3,-4,2,3,4,5,6]

three_methods = []

for number in list3:
    if number < 0:
        three_methods.append(abs(number))
    elif number % 2 == 0:
        three_methods.append(number ** 0.5)
    else:
        three_methods.append(number ** 3)

In [20]:
three_methods

[2, 3, 4, 1.4142135623730951, 27, 2.0, 125, 2.449489742783178]

In [21]:
# List Comprehension cannot take more than 2 conditions
# [abs(number) if number < 0 elif number ** 0.5 if number % 2 == 0 else number ** 3 for number in list3]

SyntaxError: invalid syntax (<ipython-input-21-2a5da5e6d08a>, line 1)

# Comprehension of Sets and Dictionaries

In [22]:
movies = ['Departed','Titanic','Aviator','Avatar','2012']

In [23]:
{len(movie) for movie in movies}

{4, 6, 7, 8}

In [25]:
movies = {'Departed' : 9 ,'Titanic' : 9.2 , 'Aviator' : 8.7 , 'Avatar' : 9.1 , '2012' : 8.6}

In [26]:
movies

{'Departed': 9, 'Titanic': 9.2, 'Aviator': 8.7, 'Avatar': 9.1, '2012': 8.6}

In [27]:
{movie : rating for rating,movie in enumerate(movies)}

{'Departed': 0, 'Titanic': 1, 'Aviator': 2, 'Avatar': 3, '2012': 4}

In [28]:
{movie : rating for movie,rating in enumerate(movies)}

{0: 'Departed', 1: 'Titanic', 2: 'Aviator', 3: 'Avatar', 4: '2012'}