# Counter

### keeps track of the number of times similar values are added
### we can use it sequence, dictionary keys with counts, mapping str names to number of counts

In [1]:
import collections

In [2]:
collections.Counter(['x','y','x','x','y','z','y','x'])

Counter({'x': 4, 'y': 3, 'z': 1})

In [3]:
collections.Counter({'x':5 , 'y':6 , 'z':2 , 'v':3 })

Counter({'x': 5, 'y': 6, 'z': 2, 'v': 3})

In [4]:
collections.Counter(x=4, y=2 , z=5 , v =3)

Counter({'x': 4, 'y': 2, 'z': 5, 'v': 3})

In [5]:
list1 = ['a','b','c','x','y','z','x','a','x','b']

In [6]:
collections.Counter(list1)

Counter({'a': 2, 'b': 2, 'c': 1, 'x': 3, 'y': 1, 'z': 1})

In [7]:
string1 = ('sdfgdfhgtere4trerhjgmgfdfsazxv')

In [8]:
collections.Counter(string1)

Counter({'s': 2,
         'd': 3,
         'f': 4,
         'g': 4,
         'h': 2,
         't': 2,
         'e': 3,
         'r': 3,
         '4': 1,
         'j': 1,
         'm': 1,
         'a': 1,
         'z': 1,
         'x': 1,
         'v': 1})

In [9]:
x = collections.Counter()

In [10]:
x

Counter()

In [11]:
x.update('12334533234')

In [12]:
x

Counter({'1': 1, '2': 2, '3': 5, '4': 2, '5': 1})

In [13]:
x.update('1234')

In [14]:
x

Counter({'1': 2, '2': 3, '3': 6, '4': 3, '5': 1})

In [15]:
# adding as numbers not strings
x.update({1:2,2:3,3:1})

In [16]:
x

Counter({'1': 2, '2': 3, '3': 6, '4': 3, '5': 1, 1: 2, 2: 3, 3: 1})

In [17]:
x.update({'1': 2, '2': 3, '3': 2})

In [18]:
x

Counter({'1': 4, '2': 6, '3': 8, '4': 3, '5': 1, 1: 2, 2: 3, 3: 1})

In [19]:
x = collections.Counter('12345321')

In [20]:
x

Counter({'1': 2, '2': 2, '3': 2, '4': 1, '5': 1})

In [21]:
for numbers in x :
    print("{} appears {} times".format(numbers,x[numbers]))

1 appears 2 times
2 appears 2 times
3 appears 2 times
4 appears 1 times
5 appears 1 times

In [22]:
# Works in Python 2
# for numbers in '12346':
#     print(" {} appears {} times ".format(numbers),x[numbers])

In [23]:
x

Counter({'1': 2, '2': 2, '3': 2, '4': 1, '5': 1})

# elements()

In [24]:
x.elements()

In [25]:
list(x.elements())

['1', '1', '2', '2', '3', '3', '4', '5']

# most_common()

In [26]:
xyz = collections.Counter('xyzzsdfslkrv')

In [27]:
xyz

Counter({'x': 1,
         'y': 1,
         'z': 2,
         's': 2,
         'd': 1,
         'f': 1,
         'l': 1,
         'k': 1,
         'r': 1,
         'v': 1})

In [28]:
for letters,num in xyz.most_common(2):
    print(" {} appears {} times".format(letters,num))

z appears 2 times
 s appears 2 times

In [29]:
for letters,num in xyz.most_common(4):
    print(" {} appears {} times".format(letters,num))

z appears 2 times
 s appears 2 times
 x appears 1 times
 y appears 1 times

In [30]:
first = collections.Counter(['x','y','z','x','y','y','z'])
second = collections.Counter('xyzabcr') # Don't pass this one as a list

In [31]:
print(first)
print(second)

Counter({'y': 3, 'x': 2, 'z': 2})
Counter({'x': 1, 'y': 1, 'z': 1, 'a': 1, 'b': 1, 'c': 1, 'r': 1})

In [32]:
first + second

Counter({'x': 3, 'y': 4, 'z': 3, 'a': 1, 'b': 1, 'c': 1, 'r': 1})

In [33]:
first - second

Counter({'x': 1, 'y': 2, 'z': 1})

In [34]:
first | second #Union

Counter({'x': 2, 'y': 3, 'z': 2, 'a': 1, 'b': 1, 'c': 1, 'r': 1})

In [35]:
first & second  #Intersection

Counter({'x': 1, 'y': 1, 'z': 1})

# Deque

### double ended queue
### we can add/remove elem on both ends

In [36]:
import collections

In [37]:
a = collections.deque('xyzrst')

In [38]:
a

deque(['x', 'y', 'z', 'r', 's', 't'])

In [39]:
type(a)

collections.deque

In [40]:
len(a)

6

In [41]:
a[3]

'r'

In [42]:
a[1]

'y'

In [43]:
a[-2]

's'

In [44]:
# a[2:4]

In [45]:
a.remove('s')

In [46]:
a

deque(['x', 'y', 'z', 'r', 't'])

In [47]:
# append and extend

a = collections.deque()

In [48]:
a

deque([])

In [49]:
a.extend('xyzrstv')

In [50]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v'])

In [51]:
a.extend('c')

In [52]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c'])

In [53]:
a.extend('de')

In [54]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e'])

In [55]:
a.extend(['fghi'])

In [56]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'fghi'])

In [57]:
a.remove('fghi')

In [58]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e'])

In [59]:
a.append('j')

In [60]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j'])

In [61]:
a.append('kl') # added as one object

In [62]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j', 'kl'])

In [63]:
a.extend('kl') # added as separate objects

In [64]:
a

deque(['x', 'y', 'z', 'r', 's', 't', 'v', 'c', 'd', 'e', 'j', 'kl', 'k', 'l'])

In [65]:
a.append('mno')

In [66]:
a

deque(['x',
       'y',
       'z',
       'r',
       's',
       't',
       'v',
       'c',
       'd',
       'e',
       'j',
       'kl',
       'k',
       'l',
       'mno'])

In [67]:
# append left and extend left

In [68]:
import collections

In [69]:
x= collections.deque('hijklm')

In [70]:
x

deque(['h', 'i', 'j', 'k', 'l', 'm'])

In [71]:
x.extendleft('g')

In [72]:
x

deque(['g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [73]:
x.extendleft('f')

In [74]:
x

deque(['f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [75]:
x.extendleft('cde') # Again adds one element at a time

In [76]:
x

deque(['e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [77]:
x.appendleft('b')

In [78]:
x

deque(['b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [79]:
x.appendleft('a')

In [80]:
x.appendleft('rst') # Again added as one whole element

In [81]:
x

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'])

In [82]:
# pop() and popleft()

In [83]:
x.pop()

'm'

In [84]:
x

deque(['rst', 'a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])

In [85]:
x.popleft()

'rst'

In [86]:
x

deque(['a', 'b', 'e', 'd', 'c', 'f', 'g', 'h', 'i', 'j', 'k', 'l'])

In [87]:
x = collections.deque('abcdefgh')

In [88]:
x

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [89]:
# rotate( )

In [90]:
x.rotate(3)

In [91]:
x

deque(['f', 'g', 'h', 'a', 'b', 'c', 'd', 'e'])

In [92]:
x.rotate(-4)

In [93]:
x

deque(['b', 'c', 'd', 'e', 'f', 'g', 'h', 'a'])

In [94]:
num = collections.deque(range(12))

In [95]:
num

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [96]:
num.rotate(4)

In [97]:
num

deque([8, 9, 10, 11, 0, 1, 2, 3, 4, 5, 6, 7])

In [98]:
num.rotate(-6)

In [99]:
num

deque([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 1])

# Named Tuple

In [100]:
import collections

In [101]:
x = ("James",16,'Male')

In [102]:
x

('James', 16, 'Male')

In [103]:
x[1]

16

In [104]:
x[2]

'Male'

In [105]:
y = ('Sara',18,12,"Female")

In [106]:
y[-1]

'Female'

In [107]:
Student = collections.namedtuple("Student",'name age grade')

In [108]:
type(Student)

type

In [109]:
stud1 = Student(name='James',age=15,grade=10)

In [110]:
stud1

Student(name='James', age=15, grade=10)

In [111]:
stud2 = Student(name = "Sara" , age = 18 , grade =12)

In [112]:
stud2

Student(name='Sara', age=18, grade=12)

In [113]:
stud1.name

'James'

In [114]:
stud1.grade

10

In [115]:
stud2.age

18

In [116]:
stud2.name

'Sara'

In [117]:
Employee = collections.namedtuple('Employee','name age department')

In [118]:
Smith = Employee(name= 'Smith' , age = 42 , department='Finance')
Jane = Employee(name='Jane',age=37,department='IT')

In [119]:
Jane.age

37

In [120]:
Jane.department

'IT'

In [121]:
Smith.department

'Finance'

In [122]:
# Can't use duplicate names or keywords in namedtuple fields
# Employee = collections.namedtuple('Employee','name name age department')

# Ordered Dictionary

In [123]:
import collections

In [124]:
a = {}

In [125]:
a['x'] = 'X'

In [126]:
a

{'x': 'X'}

In [127]:
a['y'] = 'Y'

In [128]:
a['z'] = 'Z'

In [129]:
for keys,values in a.items():
    print(keys,values)

x X
y Y
z Z

In [130]:
a = collections.OrderedDict()

In [131]:
a

OrderedDict()

In [132]:
a['x'] = 'X'

In [133]:
a['y'] = 'Y'

In [134]:
a['z'] = 'Z'

In [135]:
a

OrderedDict([('x', 'X'), ('y', 'Y'), ('z', 'Z')])

In [136]:
for keys,values in a.items():
    print(keys,values)

x X
y Y
z Z

In [137]:
dict1={}

In [138]:
dict1['x'] = 'X'
dict1['y'] = 'Y'
dict1['z'] = 'Z'

In [139]:
dict2 = {}

In [142]:
dict2['y'] = 'Y'
dict2['z'] = 'Z'
dict2['x'] = 'X'

In [143]:
# True because they are regular unordered Dictionaries
dict1 == dict2

True

In [144]:
dict1 = collections.OrderedDict()

In [145]:
dict1['x'] = 'X'
dict1['y'] = 'Y'
dict1['z'] = 'Z'

In [146]:
dict2 = collections.OrderedDict()

In [147]:
dict2['y'] = 'Y'
dict2['z'] = 'Z'
dict2['x'] = 'X'

In [148]:
# False because they are Collections Ordered Dictionaries
dict1 == dict2

False