In [1]:
import sqlite3

db = sqlite3.connect("Student.db")
db.execute("drop table if exists grades")
db.execute("create table grades(id int ,name text ,score int)")

db.execute("insert into grades(id ,name , score) values (1,'John',97)")
db.execute("insert into grades(id ,name , score) values (2,'Smith',100)")
db.commit()

In [2]:
results = db.execute("select * from grades order by id")

for row in results:
    print(row)

(1, 'John', 97)
(2, 'Smith', 100)

In [3]:
# db.execute("insert into grades(id ,name , score) values (1,'John',97)")
# db.execute("insert into grades(id ,name , score) values (2,'Smith',100)")
db.execute("insert into grades(id ,name , score) values (3,'Jane',98)")
db.execute("insert into grades(id ,name , score) values (4,'Doe',90)")
db.execute("insert into grades(id ,name , score) values (5,'James',85)")
db.execute("insert into grades(id ,name , score) values (6,'Tom',82)")
db.commit()

In [4]:
results = db.execute("select * from grades order by id")

for row in results:
    print(row)

(1, 'John', 97)
(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 85)
(6, 'Tom', 82)

In [5]:
db.execute("update grades set score = 78 where name = 'John' ")
db.execute("update grades set score = 99 where name = 'James' ")
db.commit()
results = db.execute("select * from grades order by id")
for row in results:
    print(row)

(1, 'John', 78)
(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 99)
(6, 'Tom', 82)

In [6]:
db.execute("update grades set name = 'Jack' where score = 82 ")
db.commit()

In [7]:
results = db.execute("select * from grades order by id")
for row in results:
    print(row)

(1, 'John', 78)
(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 99)
(6, 'Jack', 82)

In [8]:
db.execute("delete from grades where id = 6")
results = db.execute("select * from grades order by id")
for row in results:
    print(row)

(1, 'John', 78)
(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 99)

In [9]:
results = db.execute("select * from grades order by id")

for row in results:
    print(row)

(1, 'John', 78)
(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 99)

In [10]:
results = db.execute("select * from grades where name = 'Jane'")

for row in results:
    print(row)

(3, 'Jane', 98)

In [11]:
results = db.execute("select id,name from grades where name = 'James' ")

for row in results:
    print(row)

(5, 'James')

In [12]:
results = db.execute("select * from grades where score > 85")

for row in results:
    print(row)

(2, 'Smith', 100)
(3, 'Jane', 98)
(4, 'Doe', 90)
(5, 'James', 99)

In [13]:
results = db.execute("select name,score from grades where score < 85")

for row in results:
    print(row)

('John', 78)

In [14]:
results = db.execute("select name,score from grades order by score desc")

for row in results:
    print(row)

('Smith', 100)
('James', 99)
('Jane', 98)
('Doe', 90)
('John', 78)