In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
mydata = { 'x' : [] , 'y' :  [] , 'cluster' : []  }
df = pd.DataFrame(data=mydata)
df.head()

Empty DataFrame
Columns: [x, y, cluster]
Index: []

In [3]:
for i in range(140):
    df = df.append({'x' : np.random.randn()*10  , 'y'  : np.random.randn()*10  , 'cluster' : np.random.randint(0,3)} , ignore_index=True)

In [4]:
df

             x          y  cluster
0    -1.979383   9.265949      0.0
1    20.356635  -4.389007      1.0
2   -12.158185 -25.334850      0.0
3     1.706165   5.214209      1.0
4    -0.190310  -0.998589      2.0
..         ...        ...      ...
135  -4.212346   3.117731      0.0
136  -7.686176  -9.371325      0.0
137  -5.934823  -6.272555      1.0
138  17.827478  -0.736523      0.0
139   4.585399   3.200541      2.0

[140 rows x 3 columns]

In [5]:
df.describe()

                x           y     cluster
count  140.000000  140.000000  140.000000
mean    -0.713596   -1.210040    0.985714
std      8.809018    9.984452    0.795543
min    -20.497202  -25.334850    0.000000
25%     -6.610508   -6.696269    0.000000
50%     -1.389290   -1.524442    1.000000
75%      4.595494    4.377427    2.000000
max     26.262140   33.602889    2.000000

In [6]:
df.to_csv('data.csv')