In [1]:
import pandas as pd

# Series and Dataframes

In [2]:
data = {
    'apple' : [3,1,4,5],
    'orange' : [1,5,6,8]
}
print(data)
print(type(data))

{'apple': [3, 1, 4, 5], 'orange': [1, 5, 6, 8]}
<class 'dict'>

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   apple  orange
0      3       1
1      1       5
2      4       6
3      5       8

In [5]:
df['apple']

0    3
1    1
2    4
3    5
Name: apple, dtype: int64